body{
	text-align: center;
	margin: 0;
}
header{ 
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px, 20px;
}
h1{
	font-family: raleway;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
a{
	font-family: raleway;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0px, 20px;
	border-bottom: 2px, solid, transparent;
}
a:hover{
border-color: white;
}
h2{
	font-family: raleway;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p{
	font-family: "droid serif";
	line-height: 24px;
	font-size: 18px;
}
nav{
	background-color: #00a6b3;
	color: #ffffff; 
	padding: 20px, 0px;
}
main{
	width: 850px;
	margin: 35px, auto;
}
img{
	margin: 40px, 8px, 0px, 8px;
}
footer{
	text-transform: uppercase;
	padding: 0px, 20px;
	background-color:#0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{
	font-family: raleway;
	float: left;
}
.message{
	font-family: raleway;
	float: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size:0;

}
.name{
	color:#f15b31;
	font-weight:700;
}